In [1]:
5 + 5

10

hello my name is weber wong and this markdown which is just text
# this is a header, using a pound sign
this is *italicized* which is using asteriks
https://www.markdownguide.org/basic-syntax/

a - make cell above

b - make cell below

d - delete

m - markdown

y - code

ctrl + enter - run cell

shift + enter - run cell & go to next one

# some python

expression -> interpreter (evaluates) -> value

statements ->

In [4]:
4 + 6

10

In [5]:
8 == 4 *2
# is equals

True

# values have types

In [6]:
type(15.6)
# type is to figure out what you're tryna do with it

float

In [7]:
type(15)

int

In [8]:
type(True)

bool

# variables in python

In [12]:
mortimer = 4 + 5 * 6 # this is just setting a value

In [13]:
mortimer + 2

36

In [14]:
glorp + 8

NameError: name 'glorp' is not defined

In [20]:
type (mortimer)

int

In [21]:
type (mortimer/2)

float

In [16]:
5 % 2

1

# strings!

In [14]:
"hello my name is weber and this is a string literal as they say"

'hello my name is weber and this is a string literal as they say'

In [15]:
greeting = "hello my name is weber and this is a string literal as they say"

In [16]:
greeting

'hello my name is weber and this is a string literal as they say'

In [17]:
type(greeting)

str

In [18]:
len(greeting)

63

In [19]:
x = "name"
x in greeting

True

In [20]:
z = 'hello'

# quoting and escape characters
And then he said "I think that's a cool idea" and vanished
can use single quote inside double quote and vice versa
"\" in front of apostrophe

In [21]:
z = 'And then he said, "I think that\'s a cool idea," and vanished'

In [22]:
z

'And then he said, "I think that\'s a cool idea," and vanished'

In [23]:
print(z)

And then he said, "I think that's a cool idea," and vanished

print makes it look like it should without the backslash

In [25]:
# \" - \ is a break character to let things show up despite the syntax of pythob
a = "And then she said, \"Hey.\""

In [26]:
print(a)

And then she said, "Hey."

In [28]:
# \n - line break
b = "One two three\nfour five six"

In [29]:
b

'One two three\nfour five six'

In [30]:
print(b)

One two three
four five six

# string methods

In [31]:
greeting

'hello my name is weber and this is a string literal as they say'

In [32]:
greeting.startswith("hell")

True

In [33]:
greeting.startswith("bleah")

False

In [34]:
greeting.find("name") # which character it starts at

9

In [35]:
# index, many other methods using string methods

In [36]:
6 == 5

False

In [37]:
greeting == "aasdasda"

False

In [38]:
"blarg" == "blarg"

True

In [39]:
"b" > "a"

True

# string transformations!

In [40]:
greeting.upper()

'HELLO MY NAME IS WEBER AND THIS IS A STRING LITERAL AS THEY SAY'

In [41]:
"ARGUMENTATION! YELLING!".lower()

'argumentation! yelling!'

In [42]:
greeting.lower()

'hello my name is weber and this is a string literal as they say'

In [43]:
# typically doesn't change underlying object / string, returns a copy of it with the transformations

In [45]:
data = "     hello there this is a test!      \n"

In [46]:
data.strip()

'hello there this is a test!'

In [49]:
greeting.replace("hello","goodbye")

'goodbye my name is weber and this is a string literal as they say'

In [50]:
skydiving = greeting.replace("a", "aaaAAAAaaa")

In [51]:
skydiving

'hello my naaaAAAAaaame is weber aaaAAAAaaand this is aaaAAAAaaa string literaaaAAAAaaal aaaAAAAaaas they saaaAAAAaaay'

# reading

In [52]:
text = open("sea_rose.txt").read() # prob needs to be there

FileNotFoundError: [Errno 2] No such file or directory: 'sea_rose.txt'

In [57]:
print(text.replace(","))

TypeError: replace expected at least 2 arguments, got 1

In [58]:
text = "a colorful cubist chained in plato's cave, I found that ignorance is iridescent bliss"

In [59]:
print(text.replace("I", "ðŸŒ¼"))

a colorful cubist chained in plato's cave, ðŸŒ¼ found that ignorance is iridescent bliss

In [60]:
"cubist" in text

True

# list!

python list -> javascript array

file -> string -> list -> filtering / transformation -> string -> screen/file

this is the main workflow for editing poetry

In [62]:
[5, 10,15,20,25]

[5, 10, 15, 20, 25]

In [63]:
my_numbers = [5,10,15,20,25]

In [64]:
len([5])

1

In [65]:
len([])

0

In [66]:
my_numbers

[5, 10, 15, 20, 25]

In [67]:
my_numbers[3]

20

In [68]:
my_numbers[len(my_numbers)-1]

25

In [69]:
len(my_numbers) -2

3

# negative indices and slices

In [70]:
my_numbers

[5, 10, 15, 20, 25]

In [71]:
my_numbers[-3]

15

In [72]:
my_numbers[1:3]

[10, 15]

In [73]:
type(my_numbers[0])

int

In [74]:
type(my_numbers[1:3])

list

In [75]:
my_numbers[:3]

[5, 10, 15]

In [76]:
my_numbers[::-1]

[25, 20, 15, 10, 5]

In [77]:
my_numbers[4:-4]

[]

In [78]:
greeting[-1]

'y'

In [79]:
greeting[-2]

'a'

In [80]:
greeting[5:15]

' my name i'

# split and join

* split: string --> list
* join: list-> string

In [81]:
greeting

'hello my name is weber and this is a string literal as they say'

In [82]:
greeting.split()

['hello',
 'my',
 'name',
 'is',
 'weber',
 'and',
 'this',
 'is',
 'a',
 'string',
 'literal',
 'as',
 'they',
 'say']

In [84]:
poem = text.split("\n")

In [85]:
poem[:3] + poem[-3:] # up to index 3, -3 from end to end

["a colorful cubist chained in plato's cave, I found that ignorance is iridescent bliss",
 "a colorful cubist chained in plato's cave, I found that ignorance is iridescent bliss"]

In [86]:
words = greeting.split()

In [87]:
words

['hello',
 'my',
 'name',
 'is',
 'weber',
 'and',
 'this',
 'is',
 'a',
 'string',
 'literal',
 'as',
 'they',
 'say']

In [88]:
" ".join(words) # this is the glue

'hello my name is weber and this is a string literal as they say'

# randomness

In [89]:
import random

In [92]:
random.choice(words) # choice gives one

'is'

In [95]:
print("\n".join(random.sample(words,3))) # sample gives however much you put for second one

weber
is
name

# list comprehensions
[expression for type in list if condition]

In [96]:
[item for item in words]

['hello',
 'my',
 'name',
 'is',
 'weber',
 'and',
 'this',
 'is',
 'a',
 'string',
 'literal',
 'as',
 'they',
 'say']

In [98]:
[item.upper() for item in words]

['HELLO',
 'MY',
 'NAME',
 'IS',
 'WEBER',
 'AND',
 'THIS',
 'IS',
 'A',
 'STRING',
 'LITERAL',
 'AS',
 'THEY',
 'SAY']

In [99]:
[item[:3] for item in words]

['hel',
 'my',
 'nam',
 'is',
 'web',
 'and',
 'thi',
 'is',
 'a',
 'str',
 'lit',
 'as',
 'the',
 'say']

In [101]:
[item[:3] for item in words if len(item) > 3]

['hel', 'nam', 'web', 'thi', 'str', 'lit', 'the']

In [102]:
"a" + "b"

'ab'

# CLASS 4 2/15/24

List comprehension & for loops

* input (texT) -> lines (units) -> list -> process -> output (lines)
* input (list) -> processing -> output (list)
* processing: transforming each item in the list; filtering (only include a subset of the lines in the output)

In [3]:
numbers = [5,10,15,20,25]
numbers

[5, 10, 15, 20, 25]

[*transform_expr* for item in list_to_process if filter_expr]

In [4]:
[x for x in numbers]

[5, 10, 15, 20, 25]

In [5]:
[x * 2 for x in numbers]

[10, 20, 30, 40, 50]

In [7]:
[item * item for item in numbers]

[25, 100, 225, 400, 625]

In [8]:
import random

In [9]:
random.random()

0.9418092224119871

In [10]:
[item for item in numbers if random.random() > 0.5]

[10, 25]

In [13]:
[item * 5 for item in numbers if item >10]

[75, 100, 125]

In [16]:
text = open("idioms-Copy1.txt").read()

In [17]:
words = text.split()

In [20]:
["hello " + item.upper() for item in words if item.startswith('t')]

['hello THE',
 'hello THE',
 'hello THE',
 'hello THE',
 'hello THE',
 'hello THE',
 'hello THE',
 'hello THE',
 'hello THAN',
 'hello TWO',
 'hello THE',
 'hello THAN',
 'hello THE',
 'hello THE',
 'hello THE',
 'hello THE',
 'hello THERE',
 'hello THE',
 'hello THE',
 'hello THE',
 'hello THE',
 'hello THE',
 'hello THE',
 'hello THE',
 'hello THE',
 'hello TIME',
 'hello THE',
 'hello THAT',
 'hello THE',
 'hello THE',
 'hello TO',
 'hello THE',
 'hello THEY',
 'hello THE',
 'hello TASTE',
 'hello THAT',
 'hello TO',
 'hello TO',
 'hello THE',
 'hello TO',
 'hello THE',
 'hello THE',
 'hello TH',
 'hello TIP',
 'hello THE',
 'hello THE']

sometimes [x].[y] means calling method y from thing x. 
sometimes [x].[y] means calling method y from module x.

https://docs.python.org/3.5/library/ - all the standard things available

# for loops!

 // javascript
 for (let i = 0; i< 20; i++){
     console.log(i);
 }

In [23]:
# in python, you have to iterate in a list. can't just move up from a number. and you indent instead of curly braces ("semantic whitespace")

for item in numbers: 
    print(item)
    print("hey!")
print("done!")

5
hey!
10
hey!
15
hey!
20
hey!
25
hey!
done!

In [ ]:
# input -> process -> output

In [25]:
new_numbers = []
for item in numbers:
    new_numbers.append(item*2)
new_numbers

[10, 20, 30, 40, 50]

In [30]:
if random.random()>0.5:
    print("heads up!")
else:
    print("tails :(")

tails :(

In [33]:
new_numbers = []
for item in numbers:
    if item >10:
        new_numbers.append(item)
new_numbers

[15, 20, 25]

In [32]:
[item for item in numbers if item >10]

[15, 20, 25]

In [34]:
# the above two are the same. for loop or list comprehension

In [35]:
for item in words:
    print(''.join([ch for ch in item if random.random() < 0.5]))

ot
ca
te
ktte
lack
dot

te
cart
bfre
e
hos

h
il
on
th
he
the
l
s

o
urt
one
i
the

i

o
thn

in
t
h
itng

mre
than
y
a
e
le
e
ct
ou
of

b

th
bucke
cos

m
d

e
rn
th
idniht
ol
e
ae
a
fi
i

e
bit
t
ue
te
lan
in
t
m
pill
te
an
jp
o
th
banago
r
ver
spe
ik
h
igs
f
ou
of
th
fyig
p
d
nto
th

tim
ies
whn
yu
avi
fu
t
h
hnd
tha
feds
yo

te
r
me
yo
cn't
jud

ok

's
cv

ol
nn
as
t

he
chase
'
ou
yu
hkns
beore
th
atch
ek

te
v
ok
f
y
ap
i'
rnn
ats

os
a
tas
f
u
o
mece
o
tht
bre
en
ou
cme

t
ee
cld
ha
a
sile
li
yo
c
ead

ors
t
war
b

n't
mke
hi
dnk
vriet
is
the
ae
of
life
oe
i

bue
moon
t
me
a
og
sr
shr
wa
y
e
n
yr
leve
keep

al
rli

ng
on
h
e
akig
n
gsh
a
dle
in
a
hay
tp
f
t
iebr
o
th
ba
pt
a
dme

ze

# writing a program that generates acrostics

In [38]:
word = open("explainafewthings_neruda.txt").read().split()

In [40]:
p_words = [item for item in words if item.startswith("p")]
a_words = [item for item in words if item.startswith("a")]
b_words = [item for item in words if item.startswith("b")]
l_words = [item for item in words if item.startswith("l")]
o_words = [item for item in words if item.startswith("o")]

In [42]:
print(random.choice(p_words))
print(random.choice(a_words))
print(random.choice(b_words))

pot
an
bridge

too much repitition above, factor out

In [44]:
# what we need: data structure that allows us to create variables on the fly? dictionary

# dictionaries!

acrostic  one word acrostic

seed phrase: alison
source text

Abacus
Leprechaun
Lollopop
Intelligence
Sauna
Opera
Nighttimeb

In [3]:
planet_dist = {"Mercury": 0.387, "Venus": 0.723, "Earth": 1, "Mars": 1.523}
planet_dist

{'Mercury': 0.387, 'Venus': 0.723, 'Earth': 1, 'Mars': 1.523}

In [4]:
planet_dist["Mercury"]

0.387

In [14]:
type(planet_dist)

dict

In [5]:
1 in planet_dist

False

In [6]:
planet_dist["Planet_X"]

KeyError: 'Planet_X'

In [7]:
x = "Earth"
if x in planet_dist:
    print(planet_dist[x])

1

In [12]:
planet_dist[3]

KeyError: 3

# values in dictionaries can be any type

In [8]:
planet_moons = {
    "Mercury": [],
    "Venus": [],
    "Earth": ["Moon"],
    "Mars": ["Phobos","Deimos"],
    "Jupiter": ["Io","Europa","Ganymede","Callisto"]
}

In [9]:
type(planet_moons["Mercury"])

list

In [10]:
planet_moons["Mars"]

['Phobos', 'Deimos']

In [11]:
planet_moons["Jupiter"][2]

'Ganymede'

In [13]:
type(planet_moons)

dict

In [16]:
planet_moons[3]

KeyError: 3

In [17]:
planet_moons["Saturn"] = ["Titan","Enceladus"]

In [18]:
planet_moons

{'Mercury': [],
 'Venus': [],
 'Earth': ['Moon'],
 'Mars': ['Phobos', 'Deimos'],
 'Jupiter': ['Io', 'Europa', 'Ganymede', 'Callisto'],
 'Saturn': ['Titan', 'Enceladus']}

In [ ]:
x = [1,1,3]